<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/supply/main.css" rel="stylesheet">
  <link href="/supply/nav.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
<div id="app">
  <header>ICIA Todos</header>
  <nav>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/contact/list">연락처</a></li>
      <li><a href="/supply/list">비품</a></li>
      <li><a href="/todo/list">할일</a></li>
    </ul>
  </nav>
  <main>
    <aside>부가정보</aside>
    <section>
      <table class="table">
        <tbody>
        <tr>
          <td colspan="2">입고일</td>
          <td th:text="${supply.regDate}"></td>
        </tr>
        <tr>
          <td colspan="2">비품이름</td>
          <td th:text="${supply.name}"></td>
        </tr>
        <tr>
          <td colspan="2">개수</td>
          <td th:text="${supply.count}"></td>
        </tr>
        <tr>
          <td>
            <form action="/supply/inc" method="post">
              <input name="sno" type="hidden" th:value="${supply.sno}">
              <button class="btn btn-primary">개수 증가</button>
            </form>
          </td>
          <td>
            <form action="/supply/dec" method="post">
              <input name="sno" type="hidden" th:value="${supply.sno}">
              <button class="btn btn-warning">개수 감소</button>
            </form>
          </td>
          <td>
            <form action="/supply/delete" method="post">
              <input name="sno" type="hidden" th:value="${supply.sno}">
              <button class="btn btn-danger">삭제</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
      </form>
    </section>
    <aside>부가정보</aside>
  </main>
  <footer>
    copyright &copy;2025 ICIA
  </footer>
</div>
</body>
</html>